/* ----- image div ---- */

.card img {
    border-radius: 20px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.footer-d {
    background-color: #060202;
  
    width: 100%;
}

.social-media img {
    width: 40px;
    margin-right: 10px;
}